.container{
    display: flex;
    gap: 1.5rem;
    height: calc(100vh - 3rem);
}

html{
    font-size: 16px;
}

.full-height-map{
    height: 100%;
    width: 100%;
}

.lines-pair-container{
    display: flex;
    gap: 1rem;
    color: #666;
}

.center{
    text-align: center;
}

.number-container{
    display: flex;
    width: fit-content;
    flex-direction: column;
    flex-basis: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.number-pollinations__value{
    border: 1px solid #666;
}

.lines-pair-container__total_palms{
    display: flex;
    align-items: flex-end;
    font-weight: 700;
    font-size: 0.88rem;
}

.label__title{
    font-size: 0.55rem;
    font-weight: 900;
    margin-bottom: 0.22rem;
}

.lines-pair__value, .number-pollinations__value{
    border-radius: 0.2rem 0.2rem 0 0;
}

.lines-pair__value{
    background-color: rgba(150, 217, 69, 0.4);
}

.lines-pair__number-palms, .number-pollinations-label{
    font-size: 0.77rem;
    border-radius: 0 0 0.2rem 0.2rem;
    color: #fafff6;
    background-color: #666;
}

.employee-list-container{
    color: #666;
    border-spacing: 0.8rem 0.4rem;
}

.employee-container{
    /* background-color: rgba(150, 217, 69, 0.16); */
}

.employee-container > td{
    padding: 0.1rem 0.4rem;
    border-radius: 0.2rem;
}

td.pollinations-container{
    position: relative;
    display: flex;
    gap: 1rem;
    padding: 0;
    min-width: 9.5rem;
    background-color: #fafff6;
}
/* .number-container--start-line::before{
    content: 'INICIAL';
}

.number-container--end-line::before{
    content: 'FINAL';
} */

.lines-pair-container__horizontal-line{
    margin: 1rem 0 0 0;
    border: none;
    height: 0.01rem;
    background-color: rgba(63, 105, 0, 0.4);
}

.card-container{
    border-radius: 0.8rem;
    background-color: #fafff6;

    color: #3F6900;
    box-shadow: 0px 2px 10px 0px rgba(66, 73, 55, 0.2);

    display: flex;
    padding: 1rem;
    gap: 1rem;
    flex-direction: column;
}

.left-pane{
    flex-basis: calc(100% - 22.75rem);
    overflow-y: auto;
}

.right-pane{
    overflow-y: auto;
}

.card{
    padding: 1rem;
    box-shadow: inherit;
    border-radius: 0.8rem;
    /* background-color: #F2F5E5; */
}

.card--scroll{
    overflow-y: scroll;
}

/* .card:hover{
} */

.card-title, .card-row{
    font-weight: 600;
    letter-spacing: 0.08rem;

    /* width: 100%; */
}

.items__list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    font-size: 0.75rem;
    color: #333;
}

.items__list-container{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    position: relative;
}

.employee--sessions-quantity{

}

.card-title--main{
    color: #FFF;
    background-color: rgba(63, 105, 0, 0.8);
    padding: 0.07rem 0.35rem;
    border-radius: 0.4rem;
    display: inline-block;
}

.card-title--button{
    border: none;
    background-color: rgba(150, 217, 69, 0.4);
    color: #666;
    cursor: pointer;
}

.card-title--secondary{
    color: #3F6900;
    /* background-color: rgba(150, 217, 69, 0.4);   */
    padding: 0.07rem 0.35rem;
    border-radius: 0.4rem;
}

/* .circle{
    height: 0.8rem;
    width: 0.8rem;
    background-color: rgba(255, 255, 255, 0.817);
    background-color: rgba(0, 128, 255, 0.817);
    border-radius: 50%;
    display: inline-block;
} */

.card-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.35rem;
}

.card-body--list-info{
    margin-top: 0.7rem;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.35rem;
}

.card-row,
.card__counters-container,
.card__info-container{
    position: relative;
    width: 100%;
}

.btn{
    all: unset;
    display: inline-block;
    cursor: pointer;
    border-radius: 0.4rem;
    padding: 0.07rem 0.35rem;
}

.btn--fetch{
    background-color: rgba(150, 217, 69, 0.4);
}

.margin-left{
    margin-left: 0.3rem;
}

.loader-container{
    display: flex;
    justify-content: center;
}

.card__list-value::before,
.card__person-id::before,
.card__person-entry-date::before,
.card__person-performance::before,
.card__counters-container::before,
.card__info-container::before{
    position: absolute;
    color: #424937;
    font-size: 0.55rem;
    font-weight: 900;
    display: inline-block;
    left: 0;
    top: -0.88rem;
}

/* .card__list-value::before{
    content: 'NOMBRE';
} */


.card__person-id::before{
    content: 'DOCUMENTO';
}

.card__person-entry-date::before{
    content: 'FECHA DE INGRESO';
}

.card__person-performance::before{
    content: 'DESEMPEÑO';
}

.card__counters-container::before{
    content: 'APLICACIONES';
}

/* .card__calculated-area-info-container{
    min-width: 80px;
} */

.card__area-info-container::before{
    content: 'AREA ( B )';
}

.card__calculated-area-info-container::before{
    content: 'AREA ( C )';
}

.card__time-info-container::before{
    content: 'TIEMPO';
}

.card__rate-info-container::before{
    content: 'VELOCIDAD';
}

.card__calculated-area-info-container > .card-row > span::after{
    position: absolute;
    font-size: 0.55rem;
    /* right: 0.55rem; */
    content: '\2193 20%';
    letter-spacing: 0;
    background-color: rgba(210, 67, 0, 0.3);
    border-radius: 0.2rem;
    padding: 0 0.1rem 0 0.02rem;
    font-weight: 900;
}

.card__area-info-container > .card-row::after,
.card__calculated-area-info-container > .card-row::after,
.card__time-info-container > .card-row::after,
.card__rate-info-container > .card-row::after{
    position: relative;
    font-size: 0.55rem;
    font-weight: 900;
    letter-spacing: 0;
    bottom: -0.225rem;
}

.card__calculated-area-info-container > .card-row::after{
    display: inline-block;
    width: 1.5rem;
}

.card__area-info-container > .card-row::after,
.card__calculated-area-info-container > .card-row::after{
    content: 'ha';
}


.card__time-info-container > .card-row::after{
    content: 'h';
}

.card__rate-info-container > .card-row::after{
    content: 'ha/h';
}


.card__counters-container,
.card__info-container{
    margin-top: 1.2rem;
}

.card__counters-container{
    display: flex;
    justify-content: space-around;
    border-radius: 0.6rem;
    background-color: rgba(150, 217, 69, 0.4);
}

.card__counter-container{
    display: flex;
    flex-direction: column;
    flex-basis: 29%;
    gap: 0.4rem;
    align-items: center;
    padding: 0.6rem;
}

.card__counter-value{
    font-weight: 800;
    text-align: center;
}

.horizontal-grouping{
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 1024px) {

    .container{
        height: auto;
        flex-direction: column;
    }

    .full-height-map{
        height: 50vh;
    }

}



