.map-container{
    height: 100%;
    display: flex;
    gap: 1.5rem;
}

html{
    font-size: 16px;
}

.map{
    height: 100%;
    flex-basis: 90%;
    border-radius: 0.8rem;
    box-shadow: 0px 2px 10px 0px rgba(66, 73, 55, 1);
    overflow: hidden;
}

.map-controls{
    flex-basis: fit-content;
    border-radius: 0.8rem;
    background-color: #F2F5E5;

    color: #3F6900;
    box-shadow: 0px 2px 10px 0px rgba(66, 73, 55, 0.2);

    display: flex;
    padding: 1rem;
    gap: 1rem;
    flex-direction: column;
}

.map-controls__container{
    padding: 1rem;
    box-shadow: inherit;
    border-radius: 0.8rem;
}

/* .map-controls__container:hover{
} */

.map-controls__container-title, .map-controls__container-row{
    font-weight: 600;
    letter-spacing: 0.08rem;

    /* width: 100%; */
}

.map-controls__container-title--main{
    color: #FFF;
    background-color: rgba(63, 105, 0, 0.8);
    padding: 0.2rem 0.55rem;
    border-radius: 0.4rem;
    display: inline-block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.200);
}

.map-controls__container-title--secondary{
    color: #3F6900;
    background-color: rgba(150, 217, 69, 0.4);  
    padding: 0.2rem 0.55rem;
    border-radius: 0.4rem;
    display: inline-block;
}

/* .circle{
    height: 0.8rem;
    width: 0.8rem;
    background-color: rgba(255, 255, 255, 0.817);
    background-color: rgba(0, 128, 255, 0.817);
    border-radius: 50%;
    display: inline-block;
} */

.map-controls__container-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.35rem;
}

.map-controls__container-body--person-info{
    margin-top: 0.7rem;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.35rem;
}

.map-controls__container-row,
.map-controls__counters-container,
.map-controls__info-container{
    position: relative;
}

.margin-left{
    margin-left: 0.3rem;
}

.map-controls__person-name{
    cursor: pointer;
    display: flex;
}

.map-controls__person-name::before,
.map-controls__person-id::before,
.map-controls__person-entry-date::before,
.map-controls__person-performance::before,
.map-controls__counters-container::before,
.map-controls__info-container::before{
    position: absolute;
    color: #424937;
    font-size: 0.55rem;
    font-weight: 900;
    display: inline-block;
    left: 0;
    top: -0.88rem;
}

/* .map-controls__person-name::before{
    content: 'NOMBRE';
} */


.map-controls__person-id::before{
    content: 'DOCUMENTO';
}

.map-controls__person-entry-date::before{
    content: 'FECHA DE INGRESO';
}

.map-controls__person-performance::before{
    content: 'DESEMPEÑO';
}

.map-controls__counters-container::before{
    content: 'APLICACIONES';
}

/* .map-controls__calculated-area-info-container{
    min-width: 80px;
} */

.map-controls__area-info-container::before{
    content: 'AREA ( B )';
}

.map-controls__calculated-area-info-container::before{
    content: 'AREA ( C )';
}

.map-controls__time-info-container::before{
    content: 'TIEMPO';
}

.map-controls__rate-info-container::before{
    content: 'VELOCIDAD';
}

.map-controls__calculated-area-info-container > .map-controls__container-row > span::after{
    position: absolute;
    font-size: 0.55rem;
    /* right: 0.55rem; */
    content: '\2193 20%';
    letter-spacing: 0;
    background-color: rgba(210, 67, 0, 0.3);
    border-radius: 0.2rem;
    padding: 0 0.1rem 0 0.02rem;
    font-weight: 900;
}

.map-controls__area-info-container > .map-controls__container-row::after,
.map-controls__calculated-area-info-container > .map-controls__container-row::after,
.map-controls__time-info-container > .map-controls__container-row::after,
.map-controls__rate-info-container > .map-controls__container-row::after{
    position: relative;
    font-size: 0.55rem;
    font-weight: 900;
    letter-spacing: 0;
    bottom: -0.225rem;
}

.map-controls__calculated-area-info-container > .map-controls__container-row::after{
    display: inline-block;
    width: 1.5rem;
}

.map-controls__area-info-container > .map-controls__container-row::after,
.map-controls__calculated-area-info-container > .map-controls__container-row::after{
    content: 'ha';
}


.map-controls__time-info-container > .map-controls__container-row::after{
    content: 'h';
}

.map-controls__rate-info-container > .map-controls__container-row::after{
    content: 'ha/h';
}


.map-controls__counters-container,
.map-controls__info-container{
    margin-top: 1.2rem;
}

.map-controls__counters-container{
    display: flex;
    justify-content: space-around;
    border-radius: 0.6rem;
    background-color: rgba(150, 217, 69, 0.4);
}

.map-controls__counter-container{
    display: flex;
    flex-direction: column;
    flex-basis: 29%;
    gap: 0.4rem;
    align-items: center;
    padding: 0.6rem;
}

.map-controls__counter-value{
    font-weight: 800;
    text-align: center;
}

.horizontal-grouping{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



